@page
@model DSEU.UI.Areas.Identity.Pages.Account.MustChangePasswordModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Set new password"].Value;
    string ErrorClass = ModelState.IsValid ? string.Empty : "error";
}

@section SubTitle{
    @await Html.PartialAsync("_PageSubTitle", @Localizer["Your must change your password"])
}

<form method="post">
    <div class="authorization__field">
        <div asp-validation-summary="All" style="color:red;" class="error"></div>
        <div class="authorization__log">
            <div class="password-group @ErrorClass">
                <input asp-for="Input.Password" class="inpt" required placeholder="@Localizer["Password"]">
            </div>
            <div class="password-group @ErrorClass">
                <input asp-for="Input.ConfirmPassword" class="inpt" required placeholder="@Localizer["ConfirmPassword"]">
            </div>
            <div class="authorization__button">
                <input type="submit" id="submit" value="@Localizer["ChangePassword"]" class="column button active">
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}