@page
@model ChangePasswordModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Change password"].Value;
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div class="setting__name">@Localizer["Change password"]</div>
<partial name="_StatusMessage" for="StatusMessage" />
<form method="post">
    <div class="authorization__field">
        <div asp-validation-summary="All" class="validation-error"></div>
        <div class="password-group">
            <input asp-for="Input.OldPassword" class="inpt" id="oldassword" required>
            <label for="oldassword" class="password__subtitle">@Localizer["OldPassword"]</label>
        </div>
        <div class="password-group">
            <input asp-for="Input.NewPassword" class="inpt" id="newPassword" required>
            <label for="oldassword" class="password__subtitle">@Localizer["NewPassword"]</label>
        </div>
        <div class="password-group">
            <input asp-for="Input.ConfirmPassword" class="inpt" id="confirmPassword" required>
            <label for="oldassword" class="password__subtitle">@Localizer["ConfirmPassword"]</label>
        </div>
        <div class="authorization__button">
            <input type="submit" id="submit" value="@Localizer["UpdatePassword"]" class="column button active">
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}