@page
@model Disable2faModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["DisableTwoFactor"].Value;
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h2>@ViewData["Title"]</h2>

<div class="alert warning" role="alert">
    <p>
        <strong>@Localizer["ThisActionOnlyDisables2FA"]</strong>
    </p>
    <p>
        @Localizer["Disabling2FADoesNotChange"] <a asp-page="./ResetAuthenticator">@Localizer["ResetYourAuthenticatorKeys"].</a>
    </p>
</div>

<div>
    <form method="post" class="form-group">
        <div class="reset__button">
            <button type="submit" id="reset-authenticator-button">@Localizer["Disable2FA"]</button>
        </div>
    </form>
</div>
